.foods {
   padding: 140px 0;
}
/* 
.foods__title {
} */
.foods__body {
   margin-top: 140px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.foods__img {
   width: 445px;
   height: 478px;
} /* 
.foods__menu {
} */
.foods__item {
   display: flex;
   align-items: center;
   justify-content: center;
}
.foods__icon {
   width: 160px;
   height: 140px;
   margin: 15px 30px;
   img {
      width: 100%;
      height: 100%;
   }
}
.foods__name {
   color: $font_color;
   font-size: 26px;
   line-height: 30px;
}
.foods__dotes {
   border-top: 1px dashed #000;
   height: 0;
   width: 200px;
   margin: 0 10px;
}
.foods__price {
   color: $font_color;
   font-size: 26px;
   line-height: 30px;
}
@media (max-width: 768px) {
   .foods__dotes {
      width: 30px;
   }

   .foods__icon {
      width: 140px;
      height: 120px;
      margin: 10px 20px;
   }
}
